ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scipy
scikit-learn
imbalanced-learn
xgboost
catboost
pymango
fastapi
from-root
dill
PyYAML
evidently==0.2.8
uvicorn
jinja2
botocore
boto3
mypy-boto3-s3
neuro-mf
python-multipart
-e .
